.main{
  width: 100%;
  @include media-w($size-md){
    width: 70%;
    float: left;
  }
  .main-content{
    background-color: #eee;
    min-height: auto;
    @include media-w($size-md){
      min-height: 490px;
    }
  }
  .field, .block-contact-form-blocks{
    width: 100%;
    padding: 0px 3px;
    margin: auto;
    font-size: 0.7rem;
    @include media-w($size-md){
      width: 95%;
    }
  }
  table, h1{
    margin: auto;
    padding: 30px 3px 15px;
    font-weight: bold;
    width: 100%;
    font-size: 1.1rem;
    @include media-w($size-md){
      width: 95%;
      font-size: 1.25rem;
    }
  }
  td{
    vertical-align: top;
    border-bottom: 0;
    padding: 6px 3px;
    width: 100%;
    float: left;
    @include media-w($size-xs){
      width: 50%;
      float: none;
    }
    img{
      width: 100%;
    }
    h3{
      font-size: 0.6rem;
      line-height: 0.6rem;
      font-weight: bold;
      text-align: center;
      padding: 15px 5px 0;
      background-color: white;
      height: 45px;
      @include media-w($size-sm) {
        font-size: 0.65rem;
        line-height: 0.65rem;
      }
    }
  }
  .stripes{
    background: url(../images/stripes.png) repeat-x left top;
    width: 100%;
    height: 9px;
  }
}
.section-kontakty, .section-elerhetoseg{
  .field p{
    margin-bottom: 0;
    a{
      color: #a29b00;
    }
    a:hover{
      color: black;
    }
  }
}
.front{
  .main-content {
    min-height: auto;
    padding: 0;
    background-color: transparent;
    .column{
      padding: 0;
    }
  }
}
#contact-site-form{
  label{
    padding: 0;
  }
  .form-text{
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .form-text, .form-textarea{
    width: 100%;
    font-size: 0.6rem;
    border: solid 1px #ddd;
    box-shadow: none;
  }
  .form-text:focus, .form-textarea:focus{
    border: solid 1px #333;
    border-radius: 0;
  }
  textarea{
    resize: vertical;
  }
}
#edit-submit{
  background-color: black;
  color: $kov-color;
  font-size: 0.6rem;
  border: 0;
  border-radius: 0;
  height: auto;
  padding: 3px 6px;
}

