.main{
  width: 70%;
  float: left;
  @include media-w($size-md){
    width: 100%;
  }
  .main-content{
    background-color: #eee;
    min-height: 480px;
    @include media-w($size-md){
      min-height: auto;
    }
  }
  .field, .block-contact-form-blocks{
    width: 95%;
    padding: 0px 3px;
    margin: auto;
    font-size: 14px;
    @include media-w($size-md){
      width: 100%;
    }
  }
  #contact-site-form{
    label{
      padding: 0;
    }
    .form-text{
      height: 30px;
      padding-top: 0;
      padding-bottom: 0;
    }
    .form-text, .form-textarea{
      width: 100%;
      font-size: 12px;
      border: solid 1px #ddd;
      box-shadow: none;
    }
    .form-text:focus, .form-textarea:focus{
      border: solid 1px #333;
      border-radius: 0;
    }
  }
  table, h1{
    width: 95%;
    margin: auto;
    padding: 30px 3px 15px;
    font-size: 25px;
    font-weight: bold;
    @include media-w($size-md){
      width: 100%;
      font-size: 22px;
    }
  }
  td{
    width: 50%;
    vertical-align: top;
    border-bottom: 0;
    padding: 6px 3px;
    @include media-w($size-xs){
      width: 100%;
      float: left;
    }
    img{
      width: 100%;
    }
    h3{
      font-size: 13px;
      line-height: 13px;
      font-weight: bold;
      text-align: center;
      padding: 15px 5px 0px;
      background-color: white;
      height: 45px;
      @include media-w($size-sm) {
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
  .stripes{
    background: url(../images/stripes.png) repeat-x left top;
    width: 100%;
    height: 9px;
  }
}

.section-kontakty, .section-elerhetoseg{
  .field{
    p{
      margin-bottom: 0;
      a{
        color: #a29b00;
      }
      a:hover{
        color: black;
      }
    }
  }
  #edit-submit{
    background-color: black;
    color: $kov-color;
    font-size: 12px;
    border: 0;
    border-radius: 0;
    height: auto;
    padding: 3px 6px;
  }
}

.front{
  .main-content {
    min-height: auto;
    padding: 0;
    background-color: transparent;
    .column{
      padding: 0;
    }
  }
}
