.region-sidebar{
  width: 30%;
  float: left;
  background: url(../images/background.png) no-repeat right top;
  @include media-w($size-md){
    width: 100%;
    background-image: none;
    margin-bottom: 35px;
  }
  h2{
    font-size: 0.7rem;
    border-bottom: 1px solid #939393;
    padding-bottom: 14px;
    margin-top: 40px;
  }
  .block{
    padding-bottom: 40px;
    @include media-w($size-md){
      padding-bottom: 5px;
    }
  }
  p{
    font-size: 0.6rem;
    line-height: 0.9rem;
    margin: 0;
    padding: 7px 0 10px 0;
  }
  ul{
    margin: 0;
  }
  li.node-readmore{
    padding: 3px 6px !important;
    background-color: black;
    font-size: 0.6rem;
    a{
      color: $kov-color;
    }
    a:hover{
      text-decoration: none;
      color: white;
    }
  }
  #block-nodeblock-2{
    p{
      padding: 0;
      a{
        color: #a29b00;
        text-decoration: none;
      }
    }
    .field-item{
      padding: 7px 0 10px 0;
    }
  }
}
