footer{
  background-color: $kov-color;
  font-size: 0.6rem;
  line-height: 0.55rem;
  padding: 30px 30px 20px 30px;
  clear: both;
  .block{
    padding: 0;
  }
  p{
    margin: 0;
  }
  a, a:hover{
    color: black;
  }
  .madeby p::before{
    content: url(../images/brainsum-logo.png);
    vertical-align: middle;
    padding-right: 5px;
  }
  a{
    display: inline-block;
  }
}
