.page-wrap {
  min-height: 100%;
  margin-bottom: -74px;
}

.page-wrap::after {
  content: "";
  display: block;
  height: 74px;
}

footer {
  background-color: $kov-color;
  font-size: .6rem;
  line-height: .55rem;
  padding: 20px;
  clear: both;

  .block {
    padding: 0;
  }

  p {
    margin: 0;
  }

  a,
  a:hover {
    color: black;
  }

  .copyright p {
    padding-top: 12px;
  }

  .madeby {
    text-align: right;

    a {
      text-align: left;
    }

    p::before {
      content: url(../images/brainsum-logo.png);
      vertical-align: middle;
      padding-right: 5px;
    }
  }

  a {
    display: inline-block;
  }
}
