@charset "UTF-8";
/**
 * @file
 * Components
 * Discrete, reusable UI elements.
 * Import all custom components from ./components/ subdirectory
 * Turn here on only what you actually need.
 */
/**
 * @file
 * Sass Index file
 *
 * The main importer and orrganizer sass file.
 */
/**
 * @file
 * Variables
 */
/*
* Spectre.css variables *
*/
/**
 * @file
 * Spectre Avatar mixin
 */
/**
 * @file
 * Spectre Button mixins
 */
/**
 * @file
 * Zen's clearfix()
 *
 * Allows the bottom of an element to extend to the bottom of all floated
 * children elements. @see http://nicolasgallagher.com/micro-clearfix-hack/
 *
 * We use the micro-clearfix, optimized for use in `@extend` where fewer `&` is
 * better.
 */
/**
 *
 * @file
 * Spectre color mixins
 */
/**
 * @file
 * Spectre Label mixin
 */
/**
 * @file
 * Spectre Position mixins
 */
/**
 * @file
 * Custom media query mixins
 */
/**
 * @file
 * Spectre Shadow mixins
 */
/**
 * @file
 * Spectre Text ellipsis mixin
 */
/**
 * @file
 * Spectre Toast mixin
 */
/**
 * @file
 * Spectre Transition mixins
 */
/**
 * @file
 * visually-hidden()
 * Make an element visually hidden, but accessible to screen readers, etc.
 *
 * sass-lint:disable no-important
 *
 * @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/*
 * visually-hidden--off()
 *
 * Turns off the visually-hidden effect.
 */
/*
 * visually-hidden--focusable()
 *
 * Makes an element visually hidden by default, but visible when receiving
 * focus.
 */
/**
 * @file
 * Drupal's Clearfix
 *
 * Allows the bottom of an element to extend to the bottom of all floated child
 * elements.
 *
 * @see http://nicolasgallagher.com/micro-clearfix-hack/
 */
.clearfix::before,
.header::before {
  display: table;
  content: "";
}

.clearfix::after,
.header::after {
  display: table;
  clear: both;
  content: "";
}

/**
 * @file
 * Drupal's Form item
 *
 * Wrapper for a form element (or group of form elements) and its label.
 */
.form-item {
  margin: 1rem 0;
}

.form-item__required,
.form-required {
  color: #e85600;
}

.form-item__description,
.form-item .description {
  margin-top: 0.2rem;
  color: #acb3c2;
  font-size: 0.7rem;
}

.form-item--is-error__widget,
.form-item.is-error input,
.form-item.is-error textarea,
.form-item.is-error select,
.form-item--is-error input,
.form-item--is-error textarea,
.form-item--is-error select,
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  color: white;
  border-color: #e85600;
}

.form-item--is-error__widget:focus,
.form-item.is-error input:focus,
.form-item.is-error textarea:focus,
.form-item.is-error select:focus,
.form-item--is-error input:focus,
.form-item--is-error textarea:focus,
.form-item--is-error select:focus,
.form-item input.error:focus,
.form-item textarea.error:focus,
.form-item select.error:focus {
  box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2);
}

.form-item--inline div,
.form-item--inline label {
  display: inline;
}

.form-item--inline__exception,
.container-inline .fieldset-wrapper {
  display: block;
}

.form-item--tight,
.form-item--radio,
.form-type-radio,
.form-type-checkbox,
.form-type-switch,
.password-parent,
.confirm-parent,
table .form-item {
  margin: 0;
}

.form-item--radio .form-item__label,
.form-item--radio__label,
.form-type-radio .form-item__label,
.form-type-checkbox .form-item__label,
.form-type-switch .form-item__label,
label.option {
  display: inline;
  font-weight: normal;
}

.form-item--radio .form-item__description,
.form-item--radio__description,
.form-type-radio .form-item__description,
.form-type-checkbox .form-item__description,
.form-type-switch .form-item__description,
.form-type-radio .description,
.form-type-checkbox .description,
.form-type-switch .description,
.form-item--radio .form-item .description,
.form-item .form-item--radio .description,
.form-type-radio .form-item .description,
.form-item .form-type-radio .description,
.form-type-checkbox .form-item .description,
.form-item
.form-type-checkbox .description,
.form-type-switch .form-item .description,
.form-item
.form-type-switch .description {
  margin-left: 1.4em;
}

.form-item.is-error .form-item__widget,
.form-item--is-error__widget,
.form-item.is-error input,
.form-item.is-error textarea,
.form-item.is-error select,
.form-item--is-error input,
.form-item--is-error textarea,
.form-item--is-error select,
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #e85600;
}

.form-group:not(:last-child) {
  margin-bottom: 0.4rem;
}

.form-submit {
  margin: 1rem 0;
}

.form-type-textfield:not(:placeholder-shown):invalid {
  border-color: #e85600;
}

.form-type-textfield:not(:placeholder-shown):invalid:focus {
  box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2);
}

.form-type-radio,
.form-type-checkbox,
.form-type-switch {
  position: relative;
  display: inline-block;
  min-height: 1.2rem;
  margin: 0.2rem 0;
  padding: 0.2rem 0.4rem 0.2rem 1.2rem;
  line-height: 1rem;
}

.form-type-radio label,
.form-type-checkbox label,
.form-type-switch label {
  padding: 0;
}

.form-type-radio input,
.form-type-checkbox input,
.form-type-switch input {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.form-type-radio input:focus + .form-icon,
.form-type-checkbox input:focus + .form-icon,
.form-type-switch input:focus + .form-icon {
  border-color: #5755d9;
  box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
}

.form-type-radio input:checked + .form-icon,
.form-type-checkbox input:checked + .form-icon,
.form-type-switch input:checked + .form-icon {
  border-color: #5755d9;
  background: #5755d9;
}

.form-type-radio input:active + .form-icon,
.form-type-checkbox input:active + .form-icon,
.form-type-switch input:active + .form-icon {
  background: #f0f1f4;
}

.form-type-radio .form-icon,
.form-type-checkbox .form-icon,
.form-type-switch .form-icon {
  position: absolute;
  top: 0.3rem;
  left: 0;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 0.05rem solid #caced7;
  background: #fff;
}

.form-type-radio .form-icon {
  border-radius: 50%;
}

.form-type-radio input:checked + .form-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  content: "";
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #fff;
}

.form-type-checkbox .form-icon {
  border-radius: 0.1rem;
}

.form-type-checkbox input:checked + .form-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 12px;
  margin-top: -8px;
  margin-left: -4px;
  content: "";
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 0.1rem solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  background-clip: padding-box;
}

.form-type-checkbox input:indeterminate + .form-icon {
  border-color: #5755d9;
  background: #5755d9;
}

.form-type-checkbox input:indeterminate + .form-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 2px;
  margin-top: -1px;
  margin-left: -5px;
  content: "";
  background: #fff;
}

.form-type-switch {
  padding-left: 2rem;
}

.form-type-switch .form-icon {
  top: 0.25rem;
  left: 0;
  width: 1.6rem;
  height: 0.9rem;
  border-radius: 0.45rem;
  background: #e7e9ed;
  background-clip: padding-box;
}

.form-type-switch .form-icon::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  content: "";
  transition: all 0.2s ease;
  border-radius: 50%;
  background: #fff;
}

.form-type-switch input:checked + .form-icon::before {
  left: 14px;
}

.form-type-switch input:active + .form-icon::before {
  background: #f8f9fa;
}

.container-inline {
  display: inline-flex;
}

.container-inline label {
  padding: 0.35rem 0.4rem;
  white-space: nowrap;
  border: 0.05rem solid #caced7;
  border-radius: 0.1rem;
  background: #f8f9fa;
  line-height: 1rem;
}

.container-inline .form-item {
  z-index: 1;
  flex: 1 1 auto;
}

.container-inline .form-item:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.container-inline .form-item:not(:first-child):not(:last-child) {
  margin-left: -0.05rem;
  border-radius: 0;
}

.container-inline .form-item:last-child:not(:first-child) {
  margin-left: -0.05rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.container-inline .form-item:focus {
  z-index: 2;
}

.container-inline select {
  width: auto;
}

.has-icon-left,
.has-icon-right {
  position: relative;
}

.has-icon-left .form-icon,
.has-icon-right .form-icon {
  position: absolute;
  top: 50%;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 0.35rem;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.has-icon-left .form-icon {
  left: 0.05rem;
}

.has-icon-left .form-input {
  padding-left: 1.5rem;
}

.has-icon-right .form-icon {
  right: 0.05rem;
}

.has-icon-right .form-input {
  padding-right: 1.5rem;
}

/**
 * @file
 * Spectre Media + Zen's Responsive media
 *
 * @see https://picturepan2.github.io/spectre/elements.html#media
  */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-fit-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.img-fit-contain {
  -o-object-fit: contain;
  object-fit: contain;
}

/*
 * Responsive video
 *
 * Using a wrapper div, embedded videos can be made responsive so that their
 * intrinsic aspect ratio is preserved at any screen width. The
 * `responsive-video__embed` class is optional if the embed is an `iframe`.
 */
.responsive-video,
.media-youtube-video,
.media-vimeo-preview-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 0;
}

.responsive-video::before,
.media-youtube-video::before,
.media-vimeo-preview-wrapper::before {
  display: block;
  padding-bottom: 56.25%;
  content: "";
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed,
.responsive-video__embed,
.media-youtube-video iframe,
.media-vimeo-preview-wrapper iframe,
.media-youtube-video object,
.media-vimeo-preview-wrapper object,
.media-youtube-video embed,
.media-vimeo-preview-wrapper embed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.responsive-video--4-3::before {
  padding-bottom: 75%;
}

video {
  max-width: 100%;
  height: auto;
}

video::before {
  content: none;
}

figure {
  margin: 0 0 0.4rem;
}

figure figcaption {
  margin-top: 0.4rem;
  color: #667189;
}

/**
 * @file
 * Zen Branding header
 */
/**
 * @file
 * Headings
 *
 * All HTML headings, `<h1>` through `<h6>`, are available. `%h1` through `%h6`
 * classes are also available, for when you want to match the font styling of a
 * heading but still want your text to be displayed inline.
 */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: inherit;
  font-weight: 500;
  line-height: 1.2;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}

h1,
.header__site-name {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

.header {
  /*&__name-and-slogan {
  }*/
  /*&__secondary-menu {
  }*/
}

.header__logo {
  margin: 0 10px 0 0;
  padding: 0;
}

.header__logo-image {
  vertical-align: bottom;
}

.header__site-name {
  margin: 0;
}

.header__site-link:link,
.header__site-link:visited {
  text-decoration: none;
  color: #5755d9;
}

.header__site-link:hover,
.header__site-link:focus {
  text-decoration: underline;
}

.header__site-slogan {
  margin: 0;
}

.header__region {
  clear: both;
}

header.header {
  height: 60px;
  padding: 15px;
  background-color: #fff200;
}

header.header .region-header-mobile {
  float: right;
}

header.header .region-header-mobile .column {
  padding-right: 12px;
  padding-left: 0;
}

header.header .region-header-mobile ul {
  margin: 0;
  padding: 3.5px 0 0;
  line-height: 0;
}

header.header .region-header-mobile li {
  display: inline-block;
  margin-top: 0;
  list-style: none;
  vertical-align: middle;
  line-height: 19px;
}

#header {
  float: left;
  width: 180px;
  margin: 0;
  font-size: 18px;
}

#hamburger {
  float: right;
  width: 30px;
  height: 27px;
  margin-top: 3px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#hamburger span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  transition: 0.25s ease-in-out;
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: left center;
  transform-origin: left center;
  opacity: 1;
  border-radius: 4px;
  background: black;
}

#hamburger span:nth-child(1) {
  top: 0;
}

#hamburger span:nth-child(2) {
  top: 10px;
}

#hamburger span:nth-child(3) {
  top: 20px;
}

#hamburger.open span:nth-child(1) {
  top: 0;
  left: 7px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

#hamburger.open span:nth-child(3) {
  top: 21px;
  left: 7px;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#block-locale-language a {
  padding: 3px 6px;
  text-decoration: none;
  color: #fff200;
  background-color: black;
  font-size: 11px;
}

#block-locale-language a:hover {
  color: white;
}

#block-locale-language .active a {
  display: none;
}

.main {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .main {
    float: left;
    width: 70%;
  }
}

.main .main-content {
  min-height: auto;
  background-color: #eee;
}

@media screen and (min-width: 700px) {
  .main .main-content {
    min-height: 490px;
  }
}

.main .field,
.main .block-contact-form-blocks {
  width: 100%;
  margin: auto;
  padding: 0 3px;
  font-size: 0.7rem;
}

@media screen and (min-width: 700px) {
  .main .field,
  .main .block-contact-form-blocks {
    width: 95%;
  }
}

.main table,
.main h1 {
  width: 100%;
  margin: auto;
  padding: 30px 3px 15px;
  font-size: 1.1rem;
  font-weight: bold;
}

@media screen and (min-width: 700px) {
  .main table,
  .main h1 {
    width: 95%;
    font-size: 1.25rem;
  }
}

.main td {
  float: left;
  width: 100%;
  padding: 6px 3px;
  vertical-align: top;
  border-bottom: 0;
}

@media screen and (min-width: 360px) {
  .main td {
    float: none;
    width: 50%;
  }
}

.main td img {
  width: 100%;
}

.main td h3 {
  height: 45px;
  padding: 15px 5px 0;
  text-align: center;
  background-color: white;
  font-size: 0.6rem;
  font-weight: bold;
  line-height: 0.6rem;
}

@media screen and (min-width: 400px) {
  .main td h3 {
    font-size: 0.65rem;
    line-height: 0.65rem;
  }
}

.main .stripes {
  width: 100%;
  height: 9px;
  background: url(../images/stripes.png) repeat-x left top;
}

.section-kontakty .field p,
.section-elerhetoseg .field p,
.section-cegunkrol .field p,
.section-o-firme .field p {
  margin-bottom: 0;
}

.section-kontakty .field p a,
.section-elerhetoseg .field p a,
.section-cegunkrol .field p a,
.section-o-firme .field p a {
  color: #a29b00;
}

.section-kontakty .field p a:hover,
.section-elerhetoseg .field p a:hover,
.section-cegunkrol .field p a:hover,
.section-o-firme .field p a:hover {
  color: black;
}

.front .main-content {
  min-height: auto;
  padding: 0;
  background-color: transparent;
}

@media screen and (min-width: 700px) {
  .front .main-content {
    padding-bottom: 30px;
  }
}

.front .main-content .column {
  padding: 0;
}

#contact-site-form label {
  padding: 0;
}

#contact-site-form .form-text {
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

#contact-site-form .form-text,
#contact-site-form .form-textarea {
  width: 100%;
  border: solid 1px #ddd;
  box-shadow: none;
  font-size: 0.6rem;
}

#contact-site-form .form-text:focus,
#contact-site-form .form-textarea:focus {
  border: solid 1px #333;
  border-radius: 0;
}

#contact-site-form textarea {
  resize: vertical;
}

#edit-submit {
  height: auto;
  padding: 3px 6px;
  color: #fff200;
  border: 0;
  border-radius: 0;
  background-color: black;
  font-size: 0.6rem;
}

.region-sidebar {
  width: 100%;
  margin-bottom: 35px;
  background-image: none;
}

.region-sidebar .first.column {
  background-color: #eee;
}

.region-sidebar .first.column::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 9px;
  content: "";
  background: url(../images/stripes.png) repeat-x left top;
}

@media screen and (min-width: 700px) {
  .region-sidebar .first.column {
    background-color: transparent;
  }
  .region-sidebar .first.column::after {
    width: 0;
  }
}

.region-sidebar .column {
  padding: 0;
}

@media screen and (min-width: 700px) {
  .region-sidebar {
    float: left;
    width: 30%;
    margin-bottom: 0;
    background: url(../images/background.png) no-repeat right top;
  }
}

.region-sidebar h2 {
  margin: 0 0.4rem;
  padding-top: 30px;
  padding-bottom: 14px;
  border-bottom: 1px solid #939393;
  font-size: 0.7rem;
}

@media screen and (min-width: 700px) {
  .region-sidebar h2 {
    padding-top: 40px;
  }
}

.region-sidebar .clearfix {
  padding: 0.4rem;
}

@media screen and (min-width: 700px) {
  .region-sidebar .clearfix {
    padding-bottom: 40px;
  }
}

.region-sidebar p {
  margin: 0;
  padding: 7px 0 10px 0;
  font-size: 0.6rem;
  line-height: 0.9rem;
}

.region-sidebar ul {
  margin: 0;
}

.region-sidebar li.node-readmore {
  padding: 3px 6px !important;
  background-color: black;
  font-size: 0.6rem;
}

.region-sidebar li.node-readmore a {
  color: #fff200;
}

.region-sidebar li.node-readmore a:hover {
  text-decoration: none;
  color: white;
}

.section-kontakty .region-sidebar .first.column,
.section-elerhetoseg .region-sidebar .first.column,
.section-cegunkrol .region-sidebar .first.column,
.section-o-firme .region-sidebar .first.column {
  background-color: transparent;
}

.section-kontakty .region-sidebar .first.column::after,
.section-elerhetoseg .region-sidebar .first.column::after,
.section-cegunkrol .region-sidebar .first.column::after,
.section-o-firme .region-sidebar .first.column::after {
  width: 0;
}

@media screen and (min-width: 700px) {
  .section-kontakty .region-sidebar,
  .section-elerhetoseg .region-sidebar,
  .section-cegunkrol .region-sidebar,
  .section-o-firme .region-sidebar {
    min-height: 285px;
  }
}

#block-nodeblock-2 p {
  padding: 0;
}

#block-nodeblock-2 p a {
  text-decoration: none;
  color: #a29b00;
}

#block-nodeblock-2 .field-item {
  padding: 7px 0 10px;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -74px;
}

.page-wrap::after {
  display: block;
  height: 74px;
  content: "";
}

footer {
  clear: both;
  padding: 20px;
  background-color: #fff200;
  font-size: 0.6rem;
  line-height: 0.55rem;
}

footer .block {
  padding: 0;
}

footer p {
  margin: 0;
}

footer a,
footer a:hover {
  color: black;
}

footer .copyright p {
  padding-top: 12px;
}

footer .madeby {
  text-align: right;
}

footer .madeby a {
  text-align: left;
}

footer .madeby p::before {
  padding-right: 5px;
  content: url(../images/brainsum-logo.png);
  vertical-align: middle;
}

footer a {
  display: inline-block;
}

/**
 * @file
 * Spectre Filters
 *
 * Filters are CSS only content filters.
 *
 * @see https://picturepan2.github.io/spectre/experimentals.html#filters
 */
.filter .filter-tag#tag-0:checked ~ .filter-nav .chip[for="tag-0"],
.filter .filter-tag#tag-1:checked ~ .filter-nav .chip[for="tag-1"],
.filter .filter-tag#tag-2:checked ~ .filter-nav .chip[for="tag-2"],
.filter .filter-tag#tag-3:checked ~ .filter-nav .chip[for="tag-3"],
.filter .filter-tag#tag-4:checked ~ .filter-nav .chip[for="tag-4"],
.filter .filter-tag#tag-5:checked ~ .filter-nav .chip[for="tag-5"],
.filter .filter-tag#tag-6:checked ~ .filter-nav .chip[for="tag-6"],
.filter .filter-tag#tag-7:checked ~ .filter-nav .chip[for="tag-7"],
.filter .filter-tag#tag-8:checked ~ .filter-nav .chip[for="tag-8"] {
  color: #fff;
  background: #5755d9;
}

.filter .filter-tag#tag-1:checked ~ .filter-body .filter-item:not([data-tag~="tag-1"]),
.filter .filter-tag#tag-2:checked ~ .filter-body .filter-item:not([data-tag~="tag-2"]),
.filter .filter-tag#tag-3:checked ~ .filter-body .filter-item:not([data-tag~="tag-3"]),
.filter .filter-tag#tag-4:checked ~ .filter-body .filter-item:not([data-tag~="tag-4"]),
.filter .filter-tag#tag-5:checked ~ .filter-body .filter-item:not([data-tag~="tag-5"]),
.filter .filter-tag#tag-6:checked ~ .filter-body .filter-item:not([data-tag~="tag-6"]),
.filter .filter-tag#tag-7:checked ~ .filter-body .filter-item:not([data-tag~="tag-7"]),
.filter .filter-tag#tag-8:checked ~ .filter-body .filter-item:not([data-tag~="tag-8"]) {
  display: none;
}

.filter .filter-nav {
  margin: 0.4rem 0;
}

.filter .filter-body {
  display: flex;
  flex-wrap: wrap;
}

/**
 * @file
 * Drupal's Hidden classes
 *
 * Hide elements from all users. Compare to the visually-hidden component.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user.
 *
 * For anything you want to hide on page load when JavaScript is enabled, use
 * the `.js-hidden` class.
 *
 * @see more, Spectre.css related display utility in sass/utilities/_display.scss
 */
.hidden,
html.js .js-hidden,
html.js .element-hidden,
html.js .js-hide {
  display: none;
}

/**
 * @file
 * Drupal's Highlight mark
 *
 * The "new" or "updated" marker. This is a very thin component. A front-end
 * developer may choose to delete this component and just style the `<mark>`
 * element directly.
 *
 * @see more about HTML5 <mark> tag for Spectre.css in sass/base/_text.scss
 */
.highlight-mark,
.new,
.update {
  color: #ffe9b3;
  background-color: transparent;
}

/**
 * @file
 * Drupal's Inline links
 *
 * A list of links that are inline with each other.
 */
.inline-links,
.inline.links {
  padding: 0;
}

.inline-links__item,
.inline.links li {
  display: inline;
  padding: 0 1em 0 0;
  list-style-type: none;
}

/**
 * @file
 * Drupal's Inline sibling
 *
 * An element that needs to appear inline with the content that follows.
 */
.inline-sibling,
.field-label-inline .field-label,
span.field-label {
  display: inline;
  margin-right: 10px;
}

.inline-sibling__child,
.inline-sibling *,
.field-label-inline .field-label *,
span.field-label * {
  display: inline;
}

.inline-sibling__adjacent,
.inline-sibling + *,
.inline-sibling + * > :first-child,
.inline-sibling + * > :first-child > :first-child,
.field-label-inline .field-label + *,
span.field-label + *,
.field-label-inline .field-label + * > :first-child,
span.field-label + * > :first-child,
.field-label-inline .field-label + * > :first-child > :first-child,
span.field-label + * > :first-child > :first-child {
  display: inline;
}

.field-label-inline .field-label,
.field-label-inline .field-items {
  float: none;
}

/**
 * @file
 * Drupal's Menu & Nav menu
 *
 * A "nav menu" is secondary, hierarchical navigation which can be displayed to
 * the side or below the main content.
 */
.menu,
.nav-menu {
  z-index: 100;
  min-width: 180px;
  margin: 0;
  padding: 0.4rem;
  list-style: none;
  -ms-transform: translateY(0.2rem);
  transform: translateY(0.2rem);
  border-radius: 0.1rem;
  background: #fff;
  box-shadow: 0 0.05rem 0.2rem rgba(69, 77, 93, 0.3);
}

.menu__item,
.nav-menu__item,
.menu__item {
  margin-top: 0;
  padding: 0 0.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.menu__item > a,
.nav-menu__item > a,
.menu__item > a {
  display: block;
  margin: 0 -0.4rem;
  padding: 0.2rem 0.4rem;
  text-decoration: none;
  color: inherit;
  border-radius: 0.1rem;
}

.menu__item > a:focus,
.menu__item > a:hover,
.nav-menu__item > a:focus,
.nav-menu__item > a:hover,
.menu__item > a:focus,
.menu__item > a:hover {
  color: #5755d9;
  background: #f1f1fc;
}

.menu__item > a:active,
.menu__item > a.active,
.nav-menu__item > a:active,
.nav-menu__item > a.active,
.menu__item > a:active,
.menu__item > a.active {
  color: #5755d9;
  background: #f1f1fc;
}

.menu__item + .menu__item__item,
.nav-menu__item + .menu__item__item,
.menu__item + .menu__item__item,
.menu__item + .nav-menu__item__item,
.nav-menu__item + .nav-menu__item__item,
.menu__item + .nav-menu__item__item {
  margin-top: 0.2rem;
}

.menu .menu-badge,
.nav-menu .menu-badge {
  float: right;
  padding: 0.2rem 0;
}

.menu .menu-badge .btn,
.nav-menu .menu-badge .btn {
  margin-top: -0.1rem;
}

.nav-menu,
.toolbar-menu .menu,
.toolbar-drawer .menu,
.menu .menu {
  background: transparent;
  box-shadow: none;
}

.menu__item {
  /*&.is-expanded {
    @extend %nav-menu__item--is-expanded;
  }*/
  /*&.is-collapsed {
    @extend %nav-menu__item--is-collapsed;
  }*/
}

/*.menu a.active {
  @extend %nav-menu__link--is-active;
}*/
/**
 * @file
 * Drupal's Messages
 *
 * System alerts.
 *
 * Warning messages should use the `.messages--warning` class. Error messages
 * should use the `.messages--error` class.
 */
.messages,
.messages--status {
  display: block;
  width: 100%;
  padding: 0.4rem;
  color: #fff;
  border: 0.05rem solid #454d5d;
  border-color: #454d5d;
  border-radius: 0.1rem;
  background: rgba(69, 77, 93, 0.9);
}

.messages__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  line-height: 1;
}

.messages__highlight,
.messages--error .error,
.messages.error .error {
  border-color: #5755d9;
  background: rgba(87, 85, 217, 0.9);
}

.messages__list {
  margin: 0;
}

.messages__item {
  list-style-image: none;
}

.messages--ok-color,
.ok,
.revision-current {
  border-color: #32b643;
  background: rgba(50, 182, 67, 0.9);
}

.messages--warning-color,
.messages--warning,
.messages.warning,
.warning {
  border-color: #ffb700;
  background: rgba(255, 183, 0, 0.9);
}

.messages--error-color,
.messages--error,
.messages.error,
.error {
  border-color: #e85600;
  background: rgba(232, 86, 0, 0.9);
}

.messages a,
.messages--status a {
  text-decoration: underline;
  color: #fff;
}

.messages a:focus,
.messages a:hover,
.messages a:active,
.messages a.active,
.messages--status a:focus,
.messages--status a:hover,
.messages--status a:active,
.messages--status a.active {
  opacity: 0.75;
}

#mobile-menu {
  display: none;
  background-color: #b4b4b4;
}

#mobile-menu .block.column {
  flex: none;
}

#mobile-menu .menu {
  min-width: auto;
  background: transparent;
  box-shadow: none;
}

#mobile-menu .menu a {
  padding: 0.2rem 0;
}

#mobile-menu .menu a.active,
#mobile-menu .menu a:hover,
#mobile-menu .menu a:focus {
  color: #fff200;
  background: none;
  box-shadow: none;
}

#mobile-menu .cta-button i::before {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 5px;
  content: "";
  background: url(../images/cta-button-icon.png) no-repeat center center;
}

#mobile-menu .cta-button i {
  padding-left: 0.4rem;
  vertical-align: text-bottom;
}

#mobile-menu .cta-button .container {
  height: 51px;
  padding: 10px 0.4rem;
  background-color: black;
}

#mobile-menu .cta-button .col-gapless {
  display: inline-block;
}

#mobile-menu .cta-button span {
  display: block;
  color: white;
}

#mobile-menu .cta-button .cta-button-label {
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 0.6rem;
  line-height: 0.6rem;
}

#mobile-menu .cta-button .cta-button-phone {
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 0.75rem;
}

#block-system-main-menu {
  width: 40%;
  text-align: right;
  color: #eee;
  font-size: 0.6rem;
}

@media screen and (min-width: 400px) {
  #block-system-main-menu {
    font-size: 0.7rem;
  }
}

#block-menu-menu-product-menu {
  width: 60%;
  text-transform: uppercase;
  color: white;
  font-size: 0.6rem;
  font-weight: bold;
}

@media screen and (min-width: 400px) {
  #block-menu-menu-product-menu {
    font-size: 0.7rem;
  }
}

#block-menu-menu-product-menu .menu a {
  padding-bottom: 10px;
}

/**
 * @file
 * Zen's "More" link
 *
 * Styles the "Read more…" and "Help" links common in Drupal.
 */
.more-link,
.more-help-link {
  text-align: right;
}

.more-link__help-icon,
.more-help-link a {
  padding: 1px 0 1px 20px;
  background-image: image-url("navigation", "more-link/more-link__help-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

/**
 * @file
 * Zen's Do not print
 *
 * Removes an element from the print version of the web site.
 *
 * By importing these CSS rules in a file marked as media "all", we allow these
 * print rules to be aggregated with other stylesheets, for improved front-end
 * performance.
 */
@media print {
  .print-none,
  .toolbar,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .feed-icons {
    display: none;
  }
}

/**
 * @file
 * Drupal's Skip link
 *
 * To make the link completely hidden until a user tabs to the link, combine it
 * with the `visually-hidden` component.
 */
.skip-link {
  display: block;
  padding: 2px 0 3px;
  text-align: center;
}

.skip-link:link,
.skip-link:visited {
  color: #5755d9;
  background-color: #f8f9fa;
}

.skip-link__wrapper {
  margin: 0;
}

@media print {
  .skip-link__wrapper {
    display: none;
  }
}

/**
 * @file
 * Drupal's Tabs + Spectre Tabs
 *
 * The primary and secondary tabs.
 */
.tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.2rem 0 0.15rem;
  list-style: none;
  border-bottom: 0.05rem solid #e7e9ed;
}

@media print {
  .tabs {
    display: none;
  }
}

.tabs__tab {
  margin-top: 0;
}

.tabs__tab.is-active a {
  text-decoration: none;
  color: #5755d9;
  border-bottom-color: #5755d9;
}

.tabs__tab-link {
  display: block;
  margin: 0 0.4rem 0 0;
  padding: 0.4rem 0.2rem 0.3rem 0.2rem;
  text-decoration: none;
  color: inherit;
  border-bottom: 0.1rem solid transparent;
}

.tabs__tab-link:focus,
.tabs__tab-link:hover {
  text-decoration: none;
  color: #5755d9;
}

.tabs--off,
.views-displays .secondary {
  margin: 0;
  padding: 0;
  border-bottom: 0;
  background-image: none;
}

/**
 * @file
 * Spectre Tiles
 *
 * Tiles are repeatable or embeddable information blocks.
 *
 * Add a container with the tile class. And add child elements with the
 * tile-icon, tile-content or/and tile-action classes. The tile-icon and
 * tile-action are optional.
 *
 * There are tile-title and tile-subtitle classes for title and subtitle text
 * styles.
 *
 * @see https://picturepan2.github.io/spectre/components.html#tiles
 */
.tile {
  display: flex;
  align-items: flex-start;
  align-content: space-between;
}

.tile .tile-icon,
.tile .tile-action {
  flex: 0 0 auto;
}

.tile .tile-content {
  flex: 1 1 auto;
}

.tile .tile-content:not(:first-child) {
  padding-left: 0.4rem;
}

.tile .tile-content:not(:last-child) {
  padding-right: 0.4rem;
}

.tile .tile-title,
.tile .tile-subtitle {
  line-height: 1rem;
}

.tile.tile-centered {
  align-items: center;
}

.tile.tile-centered .tile-content {
  overflow: hidden;
}

.tile.tile-centered .tile-title,
.tile.tile-centered .tile-subtitle {
  overflow: hidden;
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/**
 * @file
 * Drupal's Visually hidden classes
 *
 * Make an element visually hidden, but accessible to screen readers, etc.
 *
 * .visually-hidden--off        - Turns off the visually-hidden effect.
 * .visually-hidden--focusable  - Makes an element visually hidden by default,
 *                                but visible when receiving focus.
 * .visually-hidden--focusable:focus  - A focused, and visible, element.
 *
 * @see more, Spectre.css related display utility in sass/utilities/_display.scss
 */
.visually-hidden,
.element-invisible,
.element-focusable {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.visually-hidden--off,
.visually-hidden--focusable:active,
.visually-hidden--focusable:focus,
.element-focusable:active,
.element-focusable:focus {
  position: static !important;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
}

.views-slideshow-cycle-processed {
  position: relative;
}

.views-slideshow-cycle-processed h1 {
  width: auto;
  margin: 1.2rem 0.4rem;
  padding: 0;
  font-size: 1rem;
}

.views-slideshow-cycle-processed .views_slideshow_cycle_main {
  width: 100%;
}

.views-slideshow-cycle-processed .views_slideshow_cycle_main .views-slideshow-cycle-main-frame,
.views-slideshow-cycle-processed .views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}

.views-slideshow-cycle-processed .views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  height: auto;
}

.views-slideshow-cycle-processed .views_slideshow_cycle_main .field-content {
  width: 100%;
  max-width: 100%;
}

.views-slideshow-cycle-processed .views_slideshow_cycle_main .field-content img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.views-slideshow-cycle-processed .views_slideshow_cycle_main .views-field-field-slider-image::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 9px;
  content: "";
  background: url(../images/stripes.png) repeat-x left top;
}

.views-slideshow-cycle-processed .views-slideshow-controls-bottom {
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: 56px;
  float: right;
}

.views-slideshow-cycle-processed .views-slideshow-pager-fields > div {
  float: right;
}

.views-slideshow-cycle-processed .views-slideshow-pager-field-item {
  margin-right: 10px;
  padding: 4px 10px;
  background-color: #fff200;
  font-size: 0.6rem;
}

.views-slideshow-cycle-processed .views-slideshow-pager-field-item a {
  color: black;
}

.views-slideshow-cycle-processed .views-slideshow-pager-field-item.active {
  cursor: pointer;
  color: #fff200;
  background-color: black;
}

.views-slideshow-cycle-processed .views-slideshow-pager-field-item.active a {
  color: #fff200;
}
