body {
  max-width: 980px;
  margin: auto;
  color: #000;
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
}

header.header {
  height: 60px;
  padding: 15px;
  background-color: #fff200;
  /*#hamburger{
    background-image: url(../images/hamburger.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    float: right;
    cursor: pointer;
    margin-left: 10px;
  }*/
}

header.header #header.container {
  float: left;
  width: 180px;
  margin: 0;
  font-size: 18px;
}

header.header #hamburger {
  float: right;
  width: 30px;
  height: 27px;
  margin-top: 3px;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

header.header #hamburger span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  transition: 0.25s ease-in-out;
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: left center;
  transform-origin: left center;
  opacity: 1;
  border-radius: 4px;
  background: black;
}

header.header #hamburger span:nth-child(1) {
  top: 0;
}

header.header #hamburger span:nth-child(2) {
  top: 10px;
}

header.header #hamburger span:nth-child(3) {
  top: 20px;
}

header.header #hamburger.open span:nth-child(1) {
  top: 0;
  left: 7px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

header.header #hamburger.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

header.header #hamburger.open span:nth-child(3) {
  top: 21px;
  left: 7px;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header.header .region-header-mobile {
  float: right;
}

header.header .region-header-mobile ul {
  margin: 0;
  padding: 0;
  line-height: 28px;
}

header.header .region-header-mobile li {
  display: inline-block;
  margin-top: 0;
  list-style: none;
  vertical-align: middle;
}

header.header .region-header-mobile .sk a,
header.header .region-header-mobile .hu a {
  display: block;
  overflow: hidden;
  width: 30px;
  height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

header.header .region-header-mobile .sk a {
  background-image: url(../images/sk-flag.png);
}

header.header .region-header-mobile .hu a {
  background-image: url(../images/hu-flag.png);
}

header.header .region-header-mobile .hu.active a,
header.header .region-header-mobile .sk.active a {
  display: none;
  background-image: none;
}

.mobile-menu {
  display: none;
  background-color: #b4b4b4;
}

.mobile-menu .block.column {
  flex: none;
}

.mobile-menu .menu {
  min-width: auto;
  background: transparent;
  box-shadow: none;
}

.mobile-menu .menu a {
  padding: 0.2rem 0rem;
}

.mobile-menu .menu a.active,
.mobile-menu .menu a:hover,
.mobile-menu .menu a:focus {
  color: #fff200;
  background: none;
  box-shadow: none;
}

.mobile-menu #block-system-main-menu {
  width: 40%;
  text-align: right;
  color: #eee;
  font-size: 0.8em;
}

.mobile-menu #block-menu-menu-product-menu {
  width: 60%;
  text-transform: uppercase;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
}

.mobile-menu #block-menu-menu-product-menu .menu a {
  padding-bottom: 10px;
}

.mobile-menu .cta-button i::before {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 5px;
  content: " ";
  background: url(../images/cta-button-icon.png) no-repeat center center;
}

.mobile-menu .cta-button i {
  padding-left: 0.4rem;
}

.mobile-menu .cta-button .container {
  height: 46px;
  padding: 10px 0.4rem;
  background-color: black;
}

.mobile-menu .cta-button .col-gapless {
  display: inline-block;
}

.mobile-menu .cta-button span {
  display: block;
  color: white;
}

.mobile-menu .cta-button .cta-button-label {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 13px;
}

.mobile-menu .cta-button .cta-button-phone {
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
}

#main {
  float: left;
  width: 70%;
}

.region-sidebar {
  float: left;
  width: 30%;
}

.region-sidebar h2 {
  margin-top: 35px;
  padding-bottom: 14px;
  border-bottom: 1px solid #939393;
  font-size: 14px;
}

.region-sidebar p {
  margin: 0;
  padding: 7px 0 10px 0;
  font-size: 12px;
  line-height: 18px;
}

.region-sidebar ul {
  margin: 0;
}

.region-sidebar li.node-readmore {
  padding: 3px 6px;
  background-color: black;
  font-size: 12px;
}

.region-sidebar li.node-readmore a {
  color: #fff200;
}

.region-sidebar li.node-readmore a:hover {
  text-decoration: none;
  color: white;
}

.region-sidebar #block-nodeblock-2 a {
  text-decoration: none;
  color: #a29b00;
}

.region-sidebar #block-nodeblock-2 p {
  padding: 0;
}

.region-sidebar #block-nodeblock-2 .field-item {
  padding: 7px 0 10px 0;
}

footer {
  clear: both;
  padding: 30px 30px 20px 30px;
  background-color: #fff200;
  font-size: 12px;
  line-height: 11px;
}

footer .block {
  padding: 0;
}

footer p {
  margin: 0;
}

footer a,
footer a:hover {
  color: #000;
}

footer .madeby p::before {
  padding-right: 5px;
  content: url(../images/brainsum-logo.png);
  vertical-align: middle;
}

footer a {
  display: inline-block;
}

/*# sourceMappingURL=kovotech_mobile.css.map */
