/**
 * @file
 * Zen Branding header
 */


// Dependencies.
@import "../../base/headings";
@import "../../utilities/clearfix";

.header,
%header {
  @extend %clearfix;

  // Wrapping link for logo.
  &__logo {
    margin: 0 10px 0 0;
    padding: 0;
  }

  // Logo image.
  &__logo-image {
    vertical-align: bottom;
  }

  // Wrapper for website name and slogan.
  /*&__name-and-slogan {
  }*/

  // The name of the website.
  &__site-name {
    @extend %h1;
    margin: 0;
  }

  // The link around the name of the website.
  &__site-link {
    &:link,
    &:visited {
      color: $link-color;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  // The slogan (or tagline) of a website.
  &__site-slogan {
    margin: 0;
  }

  // The secondary menu (login, etc.)
  /*&__secondary-menu {
  }*/

  // Wrapper for any blocks placed in the header region.
  &__region {
    // Clear the logo.
    clear: both;
  }
}

//Own
header.header{
  background-color: #fff200;
  padding: 15px;
  height: 60px;
  .region-header-mobile{
    float: right;
    .column{
      padding-left: 0px;
      padding-right: 12px;
    }
    ul{
      padding: 0;
      margin: 0;
      line-height: 0px;
      padding-top: 3.5px;
    }
    li{
      list-style: none;
      margin-top: 0px;
      display: inline-block;
      vertical-align: middle;
      line-height: 19px;
    }
  }
}

#header.container{
  width: 180px;
  margin: 0px;
  float: left;
  font-size: 18px;
}
#hamburger{
  width: 30px;
  height: 27px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right;
  margin-top: 3px;
  span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    transform-origin: left center;
  }
  span:nth-child(1){
    top: 0px;
  }
  span:nth-child(2){
    top: 10px;
  }
  span:nth-child(3){
    top: 20px;
  }
}
#hamburger.open{
  span:nth-child(1){
    transform: rotate(45deg);
    top: 0px;
    left: 7px;
  }
  span:nth-child(2){
    width: 0%;
    opacity: 0;
  }
  span:nth-child(3){
    transform: rotate(-45deg);
    top: 21px;
    left: 7px;
  }
}
#block-locale-language{
  a{
    background-color: black;
    color: #fff200;
    font-size: 11px;
    padding: 3px 6px;
    text-decoration: none;
  }
  a:hover{
    color: white;
  }
  .active a{
    display: none;
  }
}
